<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCALE4L8i6wfjSN5nDaJYsKUmFMKQS_9gg</string>
	<key>GCM_SENDER_ID</key>
	<string>714933171498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartOdishaBlood</string>
	<key>PROJECT_ID</key>
	<string>odisha-blood-camp</string>
	<key>STORAGE_BUCKET</key>
	<string>odisha-blood-camp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714933171498:ios:7822ec1c95c00835481a53</string>
</dict>
</plist>